:root.light{
    --color-bg-1:rgb(104, 28, 0);
    --color-bg-2:rgb(250, 219, 172);
    --color-bg-3:rgb(255, 255, 255);
    --color-bg-4:rgb(116, 55, 34);

}

:root.dark{
    --color-bg-1:rgb(45,45,48);
    --color-bg-2:rgb(62,62,66);
    --color-bg-3:rgb(18,18,18);
    --color-bg-4:rgb(45,45,48);


}


body {
    height: 100vH;
    margin:0;
}
#main {
    display:flex;
    flex-direction: column;
    height: 100vH;
}
.navbar {
 display:flex;
 justify-content: space-between;
 background-color: var(--color-bg-1);
 height: 60px;
 width: 100%;
}
.content {
    background-color: var(--color-bg-3);
    display: flex;
    flex: 1;
}

.footer {
background-color: var(--color-bg-4);
height:30px;
width: 100%;
}

.right-panel {
    
    flex: 4;
}

.left-panel {
    transform: translateX(0);
    background-color: var(--color-bg-2);
    width:350px;
    transition: transform 1s;
}

.left-panel.hidden {
    top: 0;
    left: 0;
    transform: translateX(-350px);
    transition: transform 1s;
    position: absolute ;
    max-height: 0;
    opacity: 0 ;

}


#projectForm {
    display:flex;
}
#projectForm.hidden {
    top: 0;
    left: 0;
    transform: translateX(-350px);
    transition: transform 1s;
    position: absolute ;
    max-height: 0;
    opacity: 0 ;
}

#editForm {
    display:flex;
}
#editForm.hidden {
    top: 0;
    left: 0;
    transform: translateX(-350px);
    transition: transform 1s;
    position: absolute ;
    max-height: 0;
    opacity: 0 ;
}

.project-item {

}

.project-item.hidden {
    top: 0;
    left: 0;
    transform: translateX(-350px);
    transition: transform 1s;
    position: absolute ;
    max-height: 0;
    opacity: 0 ;
}


.formDiv.hidden {
    top: 0;
    left: 0;
    pointer-events: none ;
    position: absolute ;
    max-height: 0 ;
    transition: max-height 1s ease-out ;
    opacity: 0;
}

.editTaskDiv.hidden {
    top: 0;
    left: 0;
    pointer-events: none ;
    position: absolute ;
    max-height: 0 ;
    transition: max-height 1s ease-out ;
    opacity: 0;
}

.list-todos {
    display:flex;
    height:100%;
    flex-direction: column;
}

ul {
    padding: 0px;
    margin: 0px;

   
}

li {
    list-style: none;
    display:flex;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    

}

#addTask {
  width:  120px;
}


.unchecked{
    width: 20px;
    height: 20px;
    border: solid 2px black ;
    border-radius: 50%;
    margin-right:8px;
    margin-top:8px;
    flex-shrink: 0;
}


.unchecked.important{
    width: 18px;
    height: 18px;
    border: solid 2px black ;
    border-radius: 50%;
    margin-right:8px;
    margin-top:0px;
    flex-shrink: 0;
    border-color: goldenrod;
}
.checked {
background-image: url(./images/checkmark.png);
background-size:100%;
background-repeat:no-repeat;
background-origin:border-box;
background-color: white;
border-color: #2abd67;

    
}


/* Golden Star to Task */
.important {
    color: gold;
}

/* hideList makes star invisible */
.hideList {
    opacity: 0;
    top: 10px; 
    left: 10px;
    position: absolute;
}


   .hidden {
    top: 0;
    left: 0;
    pointer-events: none ;
    position: absolute ;
    max-height: 0 ;
    transition: max-height 1s ease-out ;
    opacity: 0;
}